{% extends "base.html" %}
{% block conteudo %}
    <div class="container-2">
        <main>
            <div class="index-header">
                <H1>Página Principal</H1>
                <h3>Seja bem vindo(a) a Pirate Steam, a melhor loja virtual de jogos eletrônicos!</h3>
            </div>
            
            <div class="destaques-container">
                <h3 class="destaques-title">Alguns jogos...</h3>
                <div id="destaques"></div>
            </div>
        </main>
    </div>
{% endblock conteudo %}
