{% extends "base.html" %}
{% block conteudo %}
    <div class="container-2">
        <div class="about-area">
            <div class="about-header">
                <h1 id="about-title">Sobre nós...</h1>
            </div>
        
            <div class="about-main">
                <h3 class="about-txt">Nós, a Pirate Steam, somos uma loja de games virtual, com os melhores preços e produtos de todo os Sete Mares.</h3>
            </div>
        </div>
    
        <div class="about-footer">
            <!-- Github and Linkedin for any person -->
        
            <ul>
                <li>
                    <a href="https://github.com/Mannelz" target="_blank">
                        <img src="/static/img/githubLogo.png" class="about-logos"><span>Mannelz</span>
                    </a>
                </li>
    
                <li>
                    <a href="https://www.linkedin.com/in/emannuel-martins-costa/" target="_blank">
                        <img src="/static/img/linkedinLogo.png" class="about-logos"><span>Emannuel M. da Costa</span>
                    </a>
                </li>
            </ul>
    
            <ul>
                <li>
                    <a href="https://github.com/IgorLorentz" target="_blank">
                        <img src="/static/img/githubLogo.png" class="about-logos"><span>IgorLorentz</span>
                    </a>
                </li>
    
                <li>
                    <a href="https://www.linkedin.com/in/igor-lorentz-903453252/" target="_blank">
                        <img src="/static/img/linkedinLogo.png" class="about-logos"><span>Igor Lorentz</span>
                    </a>
                </li>
            </ul>
    
            <ul>
                <li>
                    <a href="https://github.com/gabrielmartins11" target="_blank">
                        <img src="/static/img/githubLogo.png" class="about-logos"><span>gabrielmartins11</span>
                    </a>
                </li>
    
                <li>
                    <a href="https://www.linkedin.com/in/gabrielmartinsdev/" target="_blank">
                        <img src="/static/img/linkedinLogo.png" class="about-logos"><span>Gabriel Martins Gomes</span>
                    </a>
                </li>
            </ul>
    
            <ul>
                <li>
                    <a href="https://github.com/pedroserretti?tab=repositories" target="_blank">
                        <img src="/static/img/githubLogo.png" class="about-logos"><span>pedroserretti</span>
                    </a>
                </li>
    
                <li>
                    <a href="https://www.linkedin.com/in/pedro-medeiros-serretti-franco-a65602241/" target="_blank">
                        <img src="/static/img/linkedinLogo.png" class="about-logos"><span>Pedro Medeiros Serretti Franco</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock conteudo %}